
<ion-content padding class="main-content">
  <h1 class="temperature">{{this.temperature}}<sup>o</sup></h1>
  <div class="clouds">
    <!-- <div class="cloud-one">
      <ion-icon md="md-cloud"></ion-icon>
    </div>
    <div class="clearfix"></div>
    <div class="cloud-two">
      <ion-icon md="md-cloud"></ion-icon>
    </div>
    <div class="clearfix"></div>
    <div class="cloud-three">
      <ion-icon md="md-cloud"></ion-icon>
    </div>
    <div class="clearfix"></div>
     -->
    
  <img style="width:150px; height:auto" src="{{this.icon}}" alt="">
  </div>
  <div class="clearfix"></div>

  <div class="expression">
    {{this.description}} !
  </div>

  <div class="location-selector">
    <ion-item class="date-field">
     
        <ion-input (ionChange)="getCurrentWeather()" style="text-align:center;text-align: center;
        color: white;
        font-size: 24px;" [(ngModel)]="location" placeholder="Location" ></ion-input>
      </ion-item>
      <ion-list *ngIf="hide">
        <ion-item></ion-item>
        <ion-item></ion-item>
      </ion-list>
  </div>

</ion-content>
