
<ion-content padding class="main-content">
  <h1 class="temperature">22<sup>o</sup></h1>
  <div class="clouds">
    <div class="cloud-one">
      <ion-icon md="md-cloud"></ion-icon>
    </div>
    <div class="clearfix"></div>
    <div class="cloud-two">
      <ion-icon md="md-cloud"></ion-icon>
    </div>
    <div class="clearfix"></div>
    <div class="cloud-three">
      <ion-icon md="md-cloud"></ion-icon>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

  <div class="expression">
    Cloudy!
  </div>

  <div class="date-selector">
    <ion-item>
      <ion-label>Date</ion-label>
     
        <ion-datetime placeholder="Date picker" display-format="MMM DD, YYYY HH:mm"></ion-datetime>
      
      </ion-item>
  </div>
</ion-content>
